h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

#main {
    max-width: 1000px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 300px minmax(600px, 0.5fr);
    justify-content: space-between;
}

#main > :first-child {
    max-width: 300px;
}
#main > :first-child > div {
    padding: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
    align-items: center;
}
select {
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius:5px;
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 0.5em 2em;
    border-radius:5px;
}